*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todo{
  text-align: center;
}

.task{
  background-color: grey;
  width: 600px;
  margin: 30px auto;
  height: 150px;
  width: 600px;
  text-align: center; 
}

.task{
  background-color: grey;
  width: 600px;
  margin: 30px auto;
  height: 150px;
  width: 600px;
  text-align: center; 
}